header.header
	nav.header_nav
		ul.header_list
			li.header_list_item
				a.header_item_link(href=jv0 title="") Поддержать разработчика
			li.header_list_item
				a.header_item_link(href=jv0 title="") Предложить действие/вопрос
			li.header_list_item
				a.header_item_link(href=jv0 title="") Правила игры
			li.header_list_item
				a.header_item_link(href=jv0 title="") Рубрики
			li.header_list_item
				a.header_item_link(href=jv0 title="") Новый игрок